
.creationDepot-titre {
	color: #F57B33;
	text-align: center;
    margin-left: 2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.creationDepot-formulaire {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	height: 50px;
}

.creationDepot-donneesFormulaire {
    background-color: #56ADC4;
    border-radius: 6px;
    padding: 0px;
    margin: 0.5rem;
}

.creationDepot-selectPersonne,
.creationDepot-inputDate,
.creationDepot-selectType {
	background-color: blanchedalmond;
	color: black;
    padding: 8px;
    margin: 8px;
    border-radius: 6px; 
}

.creationDepot-boutonValider {
	background-color: #F57B33;
	padding: 8px;
    margin: 8px;
    border-radius: 6px;
	border: none;
	height: 50px;
	box-shadow: 0px 3px 0px #d66b2c; /* pour permettre la réduction ensuite sur le :active (et effet d'enfoncement) */
	transition: all 0.1s ease; /* propriété (all) durée (0.1s) fonction-de-timing (ease) délai (néant) */
}
.creationDepot-boutonValider:active {
	transform: translateY(5px); /* déplace le bouton vers la droite */
	box-shadow: 0 0 0 #F57B33;/* réduction du box-shadow initial pour l'effet d'enfoncement*/
}

.creationDepot-erreurEnvoi {
	width: 100%;
	color: #F57B33;
	text-align: center;
	font-weight: bold;
	font-style: italic;
	font-size: 1rem;
}