.filtres_box {
    color: blanchedalmond;
    background-color: #F57B33;
    padding: 1rem;
}

select {
    color: blanchedalmond;
    background-color: #FA8B48;
    border-radius: 1rem;
    padding: 0.5rem;
}

p {
    margin-top: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}