.objetliste_globalbox {
    display: flex;
}

.objetsliste-titre {
    color: #F57B33;
    margin-left: 2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.objetsliste-onboarding {
    background-color: blanchedalmond;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
    list-style-type: none;
}

li.objetsliste-objet {
    color: blanchedalmond;
    background-color: #56ADC4;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
    list-style-type: none;
}

.objetliste-selectStatut {
   background-color: blanchedalmond;
   color: black;
    padding: 0.5rem;
    margin: 1rem;
    border-radius: 1rem; 
}

.objetlist-valid {
    background-color: #F57B33;
    padding: 0.5rem;
    margin: 1rem;
    border-radius: 1rem;
}
