*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
    --color-bgLight :blanchedalmond;
    --color-bgDark : #56ADC4;
    --color-textData : #F57B33;
    --color-textLegend : rgb(78, 78, 78);
    --color-carreViolet : #396184;
    --color-carreBleu : #F57B33;
}

.statsActivite-chart {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

        .statsActivite-chartWrapper {
            width: 600px;
            height: 400px;
            border-radius: 6px;
        }

        .statsActivite-legend{
            display: flex;
            flex-direction: column;
            width: 250px;
            gap: 0.5rem;
        }
}

.statsActivite-carreViolet {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-color: var(--color-carreViolet);
    margin-right: 0.2rem;
    vertical-align: middle;
}

.statsActivite-carreBleu {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-color: var(--color-carreBleu);
    margin-right: 0.2rem;
    vertical-align: middle;
}

.statsActivite-RightPanel {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.statsActivite-totalHeure {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-bgDark);
    padding: 1rem;
    border-radius: 6px;
}

.statsActivite-titleGenData {
    font-size: larger;
    font-weight: bold;
    color: var(--color-textLegend);
}

.statsActivite-detailGenData {
    color: blanchedalmond;
    font-weight: bold;
    font-size: xx-large;
    text-shadow: 1px 1px 1px  rgb(143, 129, 104);
}
